name: REPLACE_WITH_PROJECT_SLUG-website
region: REPLACE_WITH_DO_APP_REGION
alerts:
  - rule: DEPLOYMENT_FAILED
  - rule: DOMAIN_FAILED
static_sites:
  - name: website
    github:
      repo: REPLACE_WITH_GITHUB_REPO
      branch: REPLACE_WITH_GIT_BRANCH
      deploy_on_push: true
    source_dir: /
    environment_slug: node-js
    build_command: bun install --frozen-lockfile && bun run build:website
    output_dir: website/dist
    index_document: index.html
    envs:
      - key: PUBLIC_WEBAPP_URL
        value: "https://REPLACE_WITH_WEBAPP_DEFAULT_INGRESS"
        scope: BUILD_TIME
        type: GENERAL
      - key: PUBLIC_WEBSITE_URL
        value: "${_self.PUBLIC_URL}"
        scope: BUILD_TIME
        type: GENERAL
